<%- include("templates/header")%>
You are logged in!
<br>
<button><a href='/member' style='text-decoration:none'>Members Area</a></button>
<button><a href='/logout' style='text-decoration:none'>Logout</a></button>
<%- include("templates/footer")%>