<%- include("templates/header")%>
<h1> Login/Register </h1>
    <button><a href='/login' style='text-decoration:none'>Login</a></button>
    <button><a href='/createUser' style='text-decoration:none'>Register</a></button>
<%- include("templates/footer")%>